/GCF/gcf/nbproject/private/
/GCF/gcf/build/
/GCF/inheritance/nbproject/private/
/GCF/inheritance/build/
/GCF/control flow/nbproject/private/
/GCF/methods/nbproject/private/
/GCF/methods/build/
/GCF/flowchart/nbproject/private/
/GCF/methods/dist/
/GCF/methodswithparameters/nbproject/private/
/GCF/methodswithparameters/build/