/Javapractice4/nbproject/private/
/Javapractice4/build/
/Javapractice5/nbproject/private/
/Javapractice5/build/
/Javapractice6/nbproject/private/
/Javapractice6/build/
/threesort/nbproject/private/
/classwork/nbproject/private/
/classwork/build/
/threesort/build/
/functions/nbproject/private/
/James/nbproject/private/
/functions/build/
/Javaprctice7/nbproject/private/
/Javaprctice7/build/
/Javapractice8/nbproject/private/
/Javapractice8/build/
/Javapractice9/nbproject/private/
/Javapractice9/build/
/Javapractice10/nbproject/private/
/Javapractice10/build/