/Javapractice4/nbproject/private/
/Javapractice4/build/
/Javapractice5/nbproject/private/
/Javapractice5/build/
/Javapractice6/nbproject/private/
/Javapractice6/build/
/threesort/nbproject/private/
/classwork/nbproject/private/
/classwork/build/